# Load and prepare data

In [1]:
import pandas as pd


test_passages_df = pd.read_json(
    "./data/simple-legal-questions-pl/passages.jl", lines=True
).set_index("_id").sort_index()

test_questions_df = pd.read_json(
    "./data/simple-legal-questions-pl/questions.jl", lines=True
).set_index("_id").sort_index()

test_answers_df = pd.read_json(
    "./data/simple-legal-questions-pl/answers.jl", lines=True
).set_index("question-id").sort_index()

test_relevant_df = pd.read_json(
    "./data/simple-legal-questions-pl/relevant.jl", lines=True
).set_index("question-id").sort_index()

In [2]:
test_passages_df.head()

,title,text
_id,,
1993_599_1,Ustawa z dnia 9 grudnia 1993 r. o zmianie usta...,Art. 1. W ustawie z dnia 8 stycznia 1993 r. o ...
1993_599_2,Ustawa z dnia 9 grudnia 1993 r. o zmianie usta...,Art. 2. W okresie od dnia wejścia w życie usta...
1993_599_3,Ustawa z dnia 9 grudnia 1993 r. o zmianie usta...,Art. 3. Minister Finansów ogłosi w Dzienniku U...
1993_599_4,Ustawa z dnia 9 grudnia 1993 r. o zmianie usta...,Art. 4. Ustawa wchodzi w życie z dniem 1 stycz...
1993_602_1,Ustawa z dnia 10 grudnia 1993 r. o zmianie nie...,Art. 1. W ustawie z dnia 29 maja 1974 r. o zao...

In [3]:
test_questions_df.head()

                                                  text
_id
1    Czy żołnierz, który dopuszcza się czynnej napa...
2           Z ilu osób składa się komisja przetargowa?
3    Do jakiej wysokości za zobowiązania spółki odp...
4    Kiedy ustala się wartość majątku obrotowego, k...
5    Jakiej karze podlega armator, który wykonuje r...

In [4]:
test_answers_df.head()

             score                                             answer
question-id
1              1.0  Tak, podlega karze aresztu wojskowego albo poz...
2              1.0  Komisja przetargowa składa się z co najmniej t...
3              1.0  Komandytariusz odpowiada za zobowiązania spółk...
4              1.0  Wartość rzeczowych składników majątku obrotowe...
5              1.0  Podlega karze pieniężnej do wysokości 1 000 00...

In [5]:
test_relevant_df.head()

               passage-id  score
question-id
1            1997_553_345      1
2             2004_177_21      1
3            1996_465_111      1
4             1994_591_35      1
5            2001_1441_74      1

In [6]:
print(f"Number of rows before fitter: {len(test_answers_df)}")

test_answers_df = test_answers_df[
    (test_answers_df["score"] == 0) | (test_answers_df["score"] == 1)
]

print(f"Number of rows after fitter: {len(test_answers_df)}")

Number of rows before fitter: 638
Number of rows after fitter: 636

In [7]:
import json


with open("./data/poquad-dev.json") as f:
    poquad_dev = json.load(f)["data"]

# Task 8
Use apohllo/plt5-base-poquad which was trained on PoQuAD.

In [8]:
from torch import no_grad, backends, device


if backends.mps.is_available():
    current_device = device("mps")
else:
    current_device = device("cpu")
    
print(f"Device is {current_device}")

Device is mps

In [9]:
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer


class QuestionAnswering:
    def __init__(self, model_name: str, device) -> None:
        self._model = AutoModelForSeq2SeqLM.from_pretrained(model_name).to(device)
        self._tokenizer = AutoTokenizer.from_pretrained(model_name)
        self._device = device

    def answer(self, question: str, context: str, p_limit: float = 0.9, k_limit: int = 50) -> str:
        input_text = f"Pytanie: {question}. Kontekst: {context}"
        
        tokens = self._tokenizer.encode(
            input_text, 
            return_tensors="pt",
        ).to(self._device)

        with no_grad():
            outputs = self._model.generate(
                tokens, 
                max_length=1000, 
                do_sample=True, 
                top_p=p_limit, 
                top_k=k_limit,
            )

        output_text = self._tokenizer.decode(outputs[0], skip_special_tokens=True)

        return output_text

/Users/piotrbialy/Projects/agh-data-science/venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [10]:
model_name = "apohllo/plt5-base-poquad"

qa = QuestionAnswering(model_name, current_device)

In [11]:
_id = 2
_question = test_questions_df.loc[_id]["text"]
_context = test_passages_df.loc[test_relevant_df.loc[_id]["passage-id"]]["text"]

_answer = qa.answer(question=_question, context=_context)

print(f"question: {_question}")
print(f"context: {_context}")
print(f"answer: {_answer}")

question: Z ilu osób składa się komisja przetargowa?
context: Art. 21. 1. Członków komisji przetargowej powołuje i odwołuje kierownik zamawiającego. 2. Komisja przetargowa składa się z co najmniej trzech osób. 3. Kierownik zamawiającego określa organizację, skład, tryb pracy oraz zakres obowiązków członków komisji przetargowej, mając na celu zapewnienie sprawności jej działania, indywidualizacji odpowiedzialności jej członków za wykonywane czynności oraz przejrzystości jej prac. 4. Jeżeli dokonanie określonych czynności związanych z przygotowaniem i przeprowadzeniem postępowania o udzielenie zamówienia wymaga wiadomości specjalnych, kierownik zamawiającego, z własnej inicjatywy lub na wniosek komisji przetargowej, może powołać biegłych. Przepis art. 17 stosuje się.
answer: trzech

/Users/piotrbialy/Projects/agh-data-science/venv/lib/python3.11/site-packages/transformers/generation/logits_process.py:451: UserWarning: torch.topk support for k>16 by MPS on MacOS 13+, please upgrade (Triggered internally at /Users/runner/work/pytorch/pytorch/pytorch/aten/src/ATen/native/mps/operations/Shape.mm:71.)
  indices_to_remove = scores < torch.topk(scores, top_k)[0][..., -1, None]
/Users/piotrbialy/Projects/agh-data-science/venv/lib/python3.11/site-packages/transformers/generation/logits_process.py:413: UserWarning: torch.sort is supported by MPS on MacOS 13+, please upgrade. Falling back to CPU (Triggered internally at /Users/runner/work/pytorch/pytorch/pytorch/aten/src/ATen/native/mps/operations/Sort.mm:41.)
  sorted_logits, sorted_indices = torch.sort(scores, descending=False)
/Users/piotrbialy/Projects/agh-data-science/venv/lib/python3.11/site-packages/transformers/generation/logits_process.py:414: UserWarning: cumsum_out_mps supported by MPS on MacOS 13+, please upgrade (Triggered internally at /Users/runner/work/pytorch/pytorch/pytorch/aten/src/ATen/native/mps/operations/UnaryOps.mm:406.)
  cumulative_probs = sorted_logits.softmax(dim=-1).cumsum(dim=-1)
/Users/piotrbialy/Projects/agh-data-science/venv/lib/python3.11/site-packages/transformers/generation/utils.py:2860: UserWarning: MPS: no support for int64 for min_max, downcasting to a smaller data type (int32/float32). Native support for int64 has been added in macOS 13.3. (Triggered internally at /Users/runner/work/pytorch/pytorch/pytorch/aten/src/ATen/native/mps/operations/ReduceOps.mm:621.)
  if unfinished_sequences.max() == 0:

# Task 9-10
Report the obtained performance of the model (in the form of a table). The report should include exact match and F1 score for the tokens appearing both in the reference and the predicted answer.

In [12]:
import re
import string
from collections import Counter


def normalize_answer(s: str) -> str:
    return " ".join(re.sub(f"[{string.punctuation}]", "", s.lower()).split())


def exact_match_score(prediction: str, truth: str) -> int:
    return int(normalize_answer(prediction) == normalize_answer(truth))


def f1_score(prediction: str, truth: str) -> float:
    def calculate_f1(precision, recall):
        if precision + recall == 0:
            return 0.0
        return (2 * precision * recall) / (precision + recall)

    pred_tokens = normalize_answer(prediction).split()
    truth_tokens = normalize_answer(truth).split()

    common = Counter(pred_tokens) & Counter(truth_tokens)
    num_same = sum(common.values())

    precision = num_same / len(pred_tokens) if len(pred_tokens) > 0 else 0
    recall = num_same / len(truth_tokens) if len(truth_tokens) > 0 else 0

    return calculate_f1(precision, recall)

In [13]:
test_data = []

for qid, row in test_relevant_df.iterrows():
    try:
        item = (
            test_questions_df.loc[qid]["text"],
            test_passages_df.loc[test_relevant_df.loc[qid]["passage-id"]]["text"],
            test_answers_df.loc[qid]["answer"],
        ) 
        test_data.append(item)
    except:
        pass

In [14]:
from random import sample


validation_data = []

for article in poquad_dev:
    
    for paragraph in article["paragraphs"]:
        context = paragraph["context"]

        for question_answer in paragraph["qas"]:
            question = question_answer["question"]

            answer = (
                question_answer["answers"][0]["generative_answer"] 
                if "answers" in question_answer 
                else ""
            )
            
            item = (question, context, answer)
            validation_data.append(item)

validation_data_sample = sample(validation_data, 4000)

In [15]:
from typing import Sequence
from tqdm import tqdm

import numpy as np


def eval_qa(qa: QuestionAnswering, data: Sequence[tuple[str, str, str]]) -> tuple[float, float]:
    exact_matches = []
    f1_scores = []

    for question, context, true_answer in tqdm(data):
        predicted_answer = qa.answer(question, context)

        exact_matches.append(exact_match_score(predicted_answer, true_answer))
        f1_scores.append(f1_score(predicted_answer, true_answer))

    return (
        np.mean(exact_matches, dtype=float),
        np.mean(f1_scores, dtype=float),
    )

In [16]:
test_exact_match, test_f1_score = eval_qa(qa, test_data)

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
100%|██████████| 636/636 [10:47<00:00,  1.02s/it]

In [17]:
print(f"Scores for test data: \nExact match: {test_exact_match}\nF1 score: {test_f1_score}")

Scores for test data:
Exact match: 0.24528301886792453
F1 score: 0.44090072893385934

In [18]:
validation_exact_match, validation_f1_score = eval_qa(qa, validation_data_sample)

100%|██████████| 4000/4000 [44:46<00:00,  1.49it/s]

In [19]:
print(f"Scores for validation data: \nExact match: {validation_exact_match}\nF1 score: {validation_f1_score}")

Scores for validation data:
Exact match: 0.42975
F1 score: 0.5745871322790022

# Task 11
Generate, report and analyze the answers for at least 10 questions provided by the best model on you test dataset.

In [20]:
def show_question(data: Sequence[tuple[str, str, str]], qa: QuestionAnswering, index: int) -> None:
    question, context, true_answer = data[index]
    predicted_answer = qa.answer(question, context)

    print(f"    Index: {index}")
    print(f"Question: {question}")
    print(f"Context: {context}")
    print(f"True answer: {true_answer}")
    print(f"Predicted answer: {predicted_answer}")

In [21]:
indices = [0, 3, 120, 145, 150, 748, 1720, 1723, 1746, 1324]

In [22]:
for i in indices:
    show_question(validation_data, qa, i)

    Index: 0
Question: Czym są pisma rabiniczne?
Context: Pisma rabiniczne – w tym Miszna – stanowią kompilację poglądów różnych rabinów na określony temat. Zgodnie z wierzeniami judaizmu Mojżesz otrzymał od Boga całą Torę, ale w dwóch częściach: jedną część w formie pisanej, a drugą część w formie ustnej. Miszna – jako Tora ustna – była traktowana nie tylko jako uzupełnienie Tory spisanej, ale również jako jej interpretacja i wyjaśnienie w konkretnych sytuacjach życiowych. Tym samym Miszna stanowiąca kodeks Prawa religijnego zaczęła równocześnie służyć za jego ustnie przekazywany podręcznik.
True answer: kompilacją poglądów różnych rabinów na określony temat
Predicted answer: kompilacją poglądów różnych rabinów na określony temat
    Index: 3
Question: W jakiej formie przekazana została Miszna?
Context: Pisma rabiniczne – w tym Miszna – stanowią kompilację poglądów różnych rabinów na określony temat. Zgodnie z wierzeniami judaizmu Mojżesz otrzymał od Boga całą Torę, ale w dwóch częściach: jedną część w formie pisanej, a drugą część w formie ustnej. Miszna – jako Tora ustna – była traktowana nie tylko jako uzupełnienie Tory spisanej, ale również jako jej interpretacja i wyjaśnienie w konkretnych sytuacjach życiowych. Tym samym Miszna stanowiąca kodeks Prawa religijnego zaczęła równocześnie służyć za jego ustnie przekazywany podręcznik.
True answer: ustnej
Predicted answer: ustnej
    Index: 120
Question: Dlaczego zaniechano rozbiórki obiektu w latach 70.?
Context: 22 stycznia 1973 firma poinformowała o znacznych stratach przynoszonych przez windę i zaproponowała rządowi jej przejęcie. Kilka dni później, 1 lutego 1973, nastąpiło zakończenie działalności. Firma Macartney, McElroy & Co. została zlikwidowana w roku 1975. W latach kolejnych pojawiały się propozycje ponownego uruchomienia windy, jednak nie zostały one zrealizowane. Pod koniec lat 70. XX w. podjęto decyzję o rozbiórce windy, co jednak nie nastąpiło ze względu na znaczne koszty. Ostatecznie rozbiórki dokonano pomiędzy czerwcem a sierpniem 1983.
True answer: ze względu na znaczne koszty
Predicted answer: ze względu na znaczne koszty
    Index: 145
Question: Dokąd zmierzał statek zaatakowany 6 października?
Context: 6 października 15 Mm na północ od Aleksandrii UC-74 storpedował bez ostrzeżenia i zatopił zbudowany w 1902 roku uzbrojony brytyjski parowiec „Civilian” o pojemności 7871 BRT, przewożący drobnicę z Liverpoolu do Kalkuty (na pokładzie zginęły dwie osoby). 11 października u wybrzeży Egiptu U-Boot zatopił francuski żaglowiec „Panormitis” (59 BRT). Trzy dni później na północ od Krety okręt storpedował bez ostrzeżenia i zatopił zbudowany w 1899 roku uzbrojony brytyjski parowiec „Semantha” o pojemności 2847 BRT, a w wyniku ataku śmierć poniosło 32 członków załogi. 15 października na pozycji 36°13′N 24°33′E/36,216667 24,550000 ten sam los spotkał pochodzący z 1880 roku uzbrojony brytyjski parowiec „White Head” (1172 BRT), który zatonął ze stratą 23 załogantów.
True answer: do Kalkuty
Predicted answer: do Kalkuty
    Index: 150
Question: Kogo zagrała aktorka w filmie z serii o Sherlocku Holmesie?
Context: Następnym obrazem z McAdams była komedia romantyczna O północy w Paryżu (2011) w reżyserii i według scenariusza Woody’ego Allena, która otworzyła 64. Międzynarodowy Festiwal Filmowy w Cannes. Zagrała w niej postać Inez, płytkiej i filisterskiej narzeczonej głównego bohatera (Owen Wilson). Allen stworzył tę postać z myślą o McAdams, po usłyszeniu pochlebnych opinii na jej temat ze strony Diane Keaton. McAdams powiedziała później, że współpraca z Allenem była wyjątkowym przeżyciem i niezwykłym w porównaniu z innymi filmami. Krytycy chwalili film Allena, jednakże McAdams zebrała chłodne opinie odnośnie do swojej gry; jeden z recenzentów określił jej rolę jako „naprawdę niewdzięczną”. Przyniósł on w Ameryce najwyższy przychód brutto (bez uwzględnienia inflacji) spośród wszystkich dotychczasowych filmów Allena i był najbardziej dochodowym filmem kina niezależnego w 2011. Przy budżecie 17 mln USD, film zarobił na świecie ponad 151 mln USD. McAdams, wraz z innymi sześcioma członkami obsady, była nominowana do Nagrody Gildii Aktorów Ekranowych za wybitny występ zespołu aktorskiego w filmie kinowym. Woody Allen zdobył Oskara za najlepszy scenariusz, a film był nominowany do nagrody w 3 kategoriach, w tym za najlepszy film. McAdams ponownie wcieliła się w rolę Irene Adler w sequelu Sherlock Holmes: Gra cieni, jednak główną rolę żeńską otrzymała Noomi Rapace. Joel Silver, producent filmu, powiedział w wywiadzie, że „zawsze zamierzaliśmy angażować do każdego filmu inną dziewczynę” podobnie jak „dziewczyny Bonda” w filmach z Jamesem Bodem. Stwierdził, że „było skomplikowaną sprawą” przekonać McAdams, żeby powróciła w mniejszej roli: „Ona uwielbiała pracować z nami, ale miała nadzieję na większą rolę”. Jej występ został pozytywnie oceniony m.in. w The Wall Street Journal i The Huffington Post. Film zarobił na świecie ponad 545 mln USD.
True answer: Irene Adler
Predicted answer: Irene Adler
    Index: 748
Question: W jakim mieście rozgrywa się główna akcja noweli "Latarnik"?
Context: Bohaterem noweli jest Polak Skawiński, który przybywa do Aspinwall, aby tu objąć posadę latarnika. Jest zmęczony życiem, które obfitowało w przygody, zwykle kończące się dla Skawińskiego katastrofą. Wziąwszy udział w powstaniu, musiał opuścić kraj, tułał się po całym świecie, wiele razy ryzykując życie. W końcu zaczął szukać miejsca, w którym na dobre mógłby się osiedlić. Wybrał Aspinwall i latarnię morską, gdzie rozpoczął ciche, spokojne życie. Wiele rozmyślał i wspominał, nie zaniedbując nigdy swoich obowiązków. Podziwiał tropikalną przyrodę, zaprzyjaźnił się z odwiedzającymi jego latarnię mewami.
True answer: Aspinwall
Predicted answer: Aspinwall
    Index: 1720
Question: W którym roku Piszczek zaczął grać w Zagłębiu Lublin?
Context: Łukasz Piszczek do Zagłębia Lubin dołączył w 2004 – został wypożyczony z Herthy. W Ekstraklasie zadebiutował 16 października 2004 w meczu z GKS-em Katowice (7:0). To spotkanie rozpoczął z ławki rezerwowych, lecz w 55. minucie wszedł na plac gry zmieniając Łukasza Mierzejewskiego. Pierwszą bramkę w polskiej lidze zdobył 13 listopada 2004 w meczu z Górnikiem Polkowice (2:0). W sumie w sezonie 2004/2005 zagrał w 11 meczach ligowych, w których zdobył 2 gole. W kolejnym sezonie grał już regularnie- w 28 meczach zdobył jedną bramkę. Sezon 2006/2007 zarówno dla Piszczka, jak i dla całej drużyny „Miedziowych” był bardzo udany – Zagłębie Lubin po raz drugi w swojej historii zdobyło mistrzostwo Polski, a Łukasz Piszczek z jedenastoma trafieniami został trzecim strzelcem sezonu. Po zakończeniu sezonu Piszczek powrócił do Herthy.
True answer: 2004
Predicted answer: 2004
    Index: 1723
Question: Czy klub Piszczka wygrał mistrzostwa Polski?
Context: Łukasz Piszczek do Zagłębia Lubin dołączył w 2004 – został wypożyczony z Herthy. W Ekstraklasie zadebiutował 16 października 2004 w meczu z GKS-em Katowice (7:0). To spotkanie rozpoczął z ławki rezerwowych, lecz w 55. minucie wszedł na plac gry zmieniając Łukasza Mierzejewskiego. Pierwszą bramkę w polskiej lidze zdobył 13 listopada 2004 w meczu z Górnikiem Polkowice (2:0). W sumie w sezonie 2004/2005 zagrał w 11 meczach ligowych, w których zdobył 2 gole. W kolejnym sezonie grał już regularnie- w 28 meczach zdobył jedną bramkę. Sezon 2006/2007 zarówno dla Piszczka, jak i dla całej drużyny „Miedziowych” był bardzo udany – Zagłębie Lubin po raz drugi w swojej historii zdobyło mistrzostwo Polski, a Łukasz Piszczek z jedenastoma trafieniami został trzecim strzelcem sezonu. Po zakończeniu sezonu Piszczek powrócił do Herthy.
True answer: tak
Predicted answer: tak
    Index: 1746
Question: Z kim, za namową Sereny, zaczyna sypiać Freda?
Context: Kierowca Komendanta, który mieszka nad garażem. Po sugestii ze strony Sereny Joy, Freda rozpoczyna z nim stosunki seksualne, aby zwiększyć swoje szanse na zajście w ciążę i ocalenie się przed wysłaniem do osławionej Kolonii. Z czasem Freda zaczyna coś czuć do Nicka, opowiadając mu nawet o swoim życiu przed powstaniem Gileadu. Nick jest niejednoznacznym bohaterem, a Freda do końca nie wie, czy jest on po stronie rządu, czy też ruchu oporu. Pod koniec opowieści Nick ujawnia jednak swoją prawdziwą przynależność polityczną i organizuje Fredzie ucieczkę.
True answer: z kierowcą Komendanta
Predicted answer: z Nickiem
    Index: 1324
Question: Dlaczego Niemcy wyruszyli w morze 24 kwietnia 1916 roku?
Context: Kolejny raz siły niemieckie wyszły w morze rankiem 24 kwietnia 1916 roku. Celem akcji było zbombardowanie angielskich miast: Lowestoft i Great Yarmouth. 1. Grupą Rozpoznawczą dowodził, w zastępstwie chorego admirała Hippera, wiceadmirał Friedrich Bödicker. Jego okręt flagowy, „Seydlitz”, wszedł w trakcie rejsu na minę i został uszkodzony, w wyniku czego admirał Bödicker przeniósł się ze swoim sztabem na „Lützowa”. W ślad za krążownikami liniowymi podążały główne siły Hochseeflotte pod dowództwem admirała Reinharda Scheera, stanowiące daleką osłonę na wypadek kontrakcji okrętów brytyjskiej Grand Fleet.
True answer: aby zbombardować angielskie miasta
Predicted answer: celem akcji było zbombardowanie angielskich miast: Lowestoft i Great Yarmouth

# Questions

## Does the performance on the validation dataset reflects the performance on your test set?

The performance on validation dataset is better than the performance for test dataset, especially in case of exact match score. This is due to the fact that test data are single domain specific.

## What are the outcomes of the model on your test questions? Are they satisfying? If not, what might be the reason for that?

Most of answers are correct for selected questions. In case of question about Łukasz Piszczek's Polish League championship, in context there is information that his club achieved this and model probably did not deduct it means that their player also achieved this. 

## Why extractive question answering is not well suited for inflectional languages?

Extractive question answering struggles with inflectional languages due to the complexity of word forms and grammatical variations, making direct keyword matching less reliable. The multitude of word forms and varied grammatical structures in inflectional languages pose challenges for accurate question-to-text alignment in extractive systems.